*,
html,
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.tfooter {
    background-color: #343A40!important;
    color: white!important;
}

.box-tabela-categoria {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}