*,
html,
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    /* color: #343A40; */
}

html body {
    background-color: #F5F5F5 !important;
}

.tfooter {
    background-color: #343A40 !important;
    color: #F5F5F5 !important;
}

.box-tabela-categoria {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}


/* TELA DE LOGIN */

.box-view {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-img {
    background-image: url('../../img/annie-spratt-IT6aov1ScW0-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-login {
    width: 35%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    /* background-color: #F5F5F5; */
    background: rgba(255, 255, 255, 0.8);
    /* opacity: 
    0.8; */
    border-radius: 5px;
}

.box-title {
    margin-bottom: 2em;
    color: #343A40;
}

.box-title h1 {
    margin-bottom: 20px;
}

.box-ipt {
    margin-bottom: 2em;
    border: 1px solid #343A40;
    padding: 0.6em;
    background-color: #343A40;
    border-radius: 6px;
}

.box-ipt input {
    outline: none;
    background: transparent;
    border: 0;
    color: #F5F5F5;
}

.box-ipt input:-webkit-autofill,
.box-ipt input:-webkit-autofill:active {
    -webkit-text-fill-color: #F5F5F5;
    -webkit-box-shadow: 0 0 0 30px #343A40 inset !important;
}

.box-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-submit input {
    width: 100%;
    padding: 0.4em;
    border-radius: 6px !important;
}


/* ------------- */