*,
html,
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* background-color: lightgray; */
}

.box-tabela {
    width: 80%;
}

.tfooter {
    background-color: #343A40!important;
    color: white!important;
}


/* .box-add-produto {
    width: 80%!important;
} */